*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        width: 100%;
        background-image: url(../assets/Logo.png);
        background-position: center;
}
.admin-sect{
        background-color:none ;
        margin-top: 10px;
}
.admin-div{
        background-color: rgba(255, 255, 255, 0.767);
        width: 90%;
        align-items: center;
        padding: 10px;
        display: block;
        margin: auto;
}
.form-h6{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        color: #fbff00;
        background-color: rgb(0, 0, 0);
        padding: 10px;
}
.edit-field{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
}
.admin-logo{
        width: 50px;
}
.admin-para{
        font-size: 50px;
        text-align: center;
        margin-bottom: 0px;
        padding: 25px;
        color: #300866;
}
.admin-para-h3{
        text-align: center;
        display: block;
        color: rgb(255, 0, 85);
        font-size: 25px;
}
.setting-div{
        width: 90%;
        padding: 50px 50px 5px;
        font-size: 25px;
        color: #030a66;
        background-color: #350c0c60;
        margin: auto;
        
}
.setting-tag{
        font-size: 30px;
}
.setting-input{
        
        border: #000000 3px solid;
        border-radius: 10px;
        font-size: 25px;
        display: block;
        padding: 15px 20px;
        margin: 10px 0px 40px;
        background-color: #ffacc3;
}
.setting-submit{
        font-size: 25px;
        display: block;
        padding: 15px 30px;
        border-radius: 30px;
        background-color: orangered;
        margin: auto;
        margin-top: 20px;
        width: 60%;
}
.setting-submit:hover{
        background-color: orange;
}
.admin-info{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.733);
}
.admin-info-div{
        padding: 10px;
        width: 80%;
        margin: auto;
        background-color: rgb(255, 255, 255);
}
.admin-info-para{
        color: rgb(38, 0, 255);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height:30px;
}



h3 { 
        text-align: center; 
    } 

    img { 
        display: block; 
        margin: auto;  
    } 

    .input { 
        margin: 6px; 
        padding: 10px; 
        display: block; 
        margin: auto; 
        color: palevioletred; 
        font-size: 30px; 
    } 

    input { 
        width: 90%; 
        display: block; 
        margin-left: 12px; 
        background: none; 
        background-color: lightyellow; 
    } 

    select { 
        width: 90%; 
        display: block; 
        margin-left: 12px; 
        background: none; 
        background-color: lightyellow; 
    } 

    #heading { 
        font-family: cursive; 
        text-align: center; 
        color: green; 
        padding-top: 20px; 

    } 

    #form_page { 
        height: 500px; 
        width: 50%; 
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: row; 
        margin: auto; 

    } 

    #form_body { 
        border-radius: 12px; 
        height: 330px; 
        width: 450px; 
        background-color: beige; 
        border: 1px solid pink; 
        margin: auto; 
        margin-top: 12px; 
    } 

    #text { 
        color: red; 
        width: 100px; 
    } 

    #head { 
        border-bottom: 2px solid red; 
        height: 100px; 
        background-color: aliceblue; 
    } 

    #submit { 
        background-color: white; 
        width: 70px; 
    }